<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resource/css/bootstrap.min.css">
    <script src="/resource/js/jquery.2.1.1.min.js"></script>
    <title th:text="${isNew?'Create Book':'Update Book'}">Create Book</title>
</head>
<body>
    <div class="container">

        <form class="form-horizontal" th:action="${isNew?'/create/submit':'/update/submit'}" method="post" th:object="${book}" enctype="multipart/form-data">

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <h1 th:text="${isNew?'Create Book':'Update Book'}">Create Book</h1>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">ID:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" th:field="*{id}">
                    <span style="color:red;" th:if="${#fields.hasErrors()}" th:errors="*{id}">Error</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Title:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{title}">
                    <span style="color:red;" th:if="${#fields.hasErrors()}" th:errors="*{title}">Error</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Author:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{author}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Publisher:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{publisher}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="text" th:field="*{thumbnail}" hidden="hidden">
                    <input type="file" name="file" >
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Submit" class="btn btn-info">
                </div>
            </div>
        </form>
    </div>
</body>
</html>