<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resource/css/bootstrap.min.css">
    <script src="/resource/js/jquery.2.1.1.min.js"></script>
    <title th:text="#{greeting.message}">Home page</title>

    <style>
        th{
            text-align: center;
            font-size: 20px;
            background-color: greenyellow;
        }
        tr td{
            text-align: center;
        }
    </style>

</head>
<body>
    <div class="container" style="margin-bottom: 30px;">

        <h1><u>List of All Books </u></h1>

        <table border="1" class="table table-hover">
             <tr>
                 <th th:text="#{table.id}">ID</th>
                 <th th:text="#{table.title}">Title</th>
                 <th th:text="#{table.author}">Author</th>
                 <th th:text="#{table.publisher}">Publisher</th>
                 <th>Thumbnail</th>
                 <th th:text="#{table.action}">Action</th>
            </tr>

            <tr th:each="book: ${books}">
                <td>[[${book.id}]]</td>
                <td th:text="${book.getTitle()}"></td>
                <td th:text="${book.getAuthor()}"></td>
                <td>
                    <img style="width: 100px; height: 100px;" th:src="${book.getThumbnail()}" alt="image">
                </td>
                <td th:text="${book.getPublisher()}"></td>
                <td>
                    <a th:href="@{/view/{id}(id=${book.getId()})}"><button class="btn btn-info">View</button></a>
                    <a th:href="@{/update/{book_id}(book_id=${book.getId()})}"><button class="btn btn-warning">Update</button></a>
                    <button class="btn btn-delete btn-danger" th:attr="data-id=${book.getId()}">Delete</button>
                </td>
            </tr>
        </table>
        <a href="/create" class="btn btn-info">Create New Book</a>
    </div>
    <script src="/resource/js/myStyle.js"></script>
    <script src="/resource/js/bootstrap.min.js"></script>
</body>
</html>